/* MeetOurTeam.css */
.team-section {
  padding: 80px 0;

}
.team-section {
  margin-top: 100px;
}


.team-member {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  /* margin-bottom: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.team-member:hover {
  transform: translateY(-5px);
  background-color: #a3cffe;
  
}
.team-member-image {
  max-width: 100%;
  height: 200px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.team-member-image img {
  max-width: 150%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  width: 40%;
  height: auto;

}
.team-member-details{
  margin-top: 10px;
}

.team-member-details h3 {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  margin-top: 10px;
  
  
  
}

.team-member-details p.title {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  
}

.team-member-details p.description {
  color: #666;
  font-size: 14px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #444;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .col-lg-4 {
    flex-basis: 50%;
  }
}