@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --blue: #0a42df;
  --light-blue: #275df5;
  --black: #130f40;
  --light-colour: #666666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}


/* footer css start */
.footer {
  background: var(--light-yellow);
  position: relative;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  color: var(--light-colour);
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0;
}
/* .footer .box-container .box li{
  color: var(--light-colour);
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0;
} */

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}


.icons{
  margin-top: 10px;
}

.row{
   display: flex;

}

.Slider{
   display: flex;
}


/* footer css end */